.details {
  .navigation {
    .v-stepper {
      background: unset !important;
      box-shadow: unset !important;
      padding-bottom: unset !important;
    }
    .v-icon {
      font-size: rem(12.5);
      &::after {
        width: rem(24) !important;
        height: rem(24) !important;
      }
    }
    .navigation__step {
      cursor: pointer;
      .v-stepper__label {
        font-size: rem(14) !important;
      }
      &.small {
        .v-stepper__label {
          font-size: rem(12) !important;
        }
        span {
          transform: scale(0.7);
        }
      }
      span.primary {
        background: rgba(0, 0, 0, 0.38) !important;
        border-color: rgba(0, 0, 0, 0.38) !important;
      }
      &.active {
        span {
          background: var(--v-primary-base) !important;
          border-color: var(--v-primary-base) !important;
        }
        div {
          text-shadow: 0 0 0 black !important;
        }
      }
      &.hide {
        display: none !important;
      }
    }
    .navigation__separator {
      padding: rem(8) !important;
      &.hide {
        display: none !important;
      }
    }
  }
}