/** Input Resets will aply only inside the formfield class **/
.form-field {
  .v-input__slot,
  .v-input__control {
    min-height: auto !important;
  }

  .v-input {
    &.v-input--is-focused {
      color: map-get($colors, black) !important;
    }
    &.v-input--selection-controls,
    .v-textarea {
      margin: 0;
      padding: 0;
    }

    input,
    textarea {
      font-size: inherit;
      color: inherit;
      &::placeholder {
        text-transform: capitalize;
      }
    }
  }
}

/** Formfield styles **/
.form-field {
  flex-grow: 1;
}

.form-field__group {
  display: flex;
  padding: rem(7) rem(10);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  .edit & {
    padding: 0;
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }
}

.field-updated .form-field__label {
  color: var(--v-orange-changes-base);
}

.form-field__label {
  font-weight: 700;
  line-height: (20 / 13);
  letter-spacing: rem(.25);
  color: var(--v-slate-gray-base);
  font-size: rem(13);
  margin-right: rem(8);

  .edit & {
    color: white;
  }
}

.form-field .v-input {
  flex: 0 1 auto;
  font-size: rem(14);
  color: map-get($colors, grey-4);
  font-weight: 400;
  line-height: (20 / 14);
  letter-spacing: rem(.25);

  .edit fieldset {
    border: none;
  }

  .v-input__slot {
    height: rem(22);
    max-width: rem(220);
    padding: 0 rem(0) rem(0) rem(11) !important;
    background-color: white;
  }
}
