.orders {
  .listbody {
    .v-data-table {
      border-radius: unset;
      box-shadow: map-get($properties, table-shadow);
    
      td, th {
        border: unset !important;
      }

      td {
        border: rem(1) solid #dadddd;
        .split-btn {
          margin: 0 -16px;
        }
      }
    
      .v-data-footer {
        border: unset !important;
      }
    }
  }
  .header {
    .v-select__slot {
      input {
        position: absolute !important;
      }
    
      .v-select__selections {
        max-height: rem(25);
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
    }
  }
  
  .buttons {
    button {
      min-width: rem(40) !important;
    
      @include media("med") {
        min-width: rem(64) !important;
      }
    }
  }
  
  .orders-create-upload {
    .upload__input .v-input {
      .v-input__control {
        order: -1 !important;
    
        button[aria-label="clear icon"] {
          margin: unset !important;
        }
      }
    }
    
    .upload__area {
      position: relative;
      .v-input {
        position: absolute;
        padding: unset;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
      }
    
      .v-input__control {
        display: none;
      }
    
      .v-input__prepend-outer {
        margin: unset;
        margin-right: unset !important;
        width: 100%;
        height: 100%;
        .v-input__icon.v-input__icon--prepend {
          height: 100%;
          button {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}