&.processed,
&.sendingtotms,
&.acceptedbytms,
&.markedcomplete,
&.markednotcomplete,
&.autosubmitted,
&.senttotms {
  &::after{
    background-color: #77C19A;
  }
}
&.intake::after{
  border: 2px solid #B0BBC4;
}
&.processing,
&.update {
  &::after{
    background-color: #7BAFD4;
  }
}
&.exception,
&.rejected,
&.tmserror {
  &::after {
    background-color: #FB7660;
  }
}
&.tmswarning,
&.needsreview,
&.replaced {
  &::after {
    background-color: #FDAA63;
  }
}