/node_modules
/public/hot
/public/storage
/storage/*.key
/public/css/
/public/img/
/public/js/
/public/vendor
resources/views/index.blade.php
/vendor
.env
.env.backup
.env.development
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/tmp
