.details {
  .navigation {
    .v-stepper {
      background: unset !important;
      box-shadow: unset !important;
      padding-bottom: unset !important;
    }
    .v-icon.v-icon::after {
      width: 2.4rem !important;
      height: 2.4rem !important;
    }
    .navigation__step {
      cursor: pointer;
      .v-stepper__label {
        font-size: 1.4rem !important;
      }
      &.small {
        .v-stepper__label {
          font-size: 1.2rem !important;
        }
        span {
          transform: scale(0.7);
        }    
      }
      span.primary {
        background: rgba(0, 0, 0, 0.38) !important;
        border-color: rgba(0, 0, 0, 0.38) !important;
      }
      &.active {
        span {
          background: map-get($colors, blue) !important;
          border-color: map-get($colors, blue) !important;
        }
        div {
          text-shadow: 0px 0px 0px black !important;
        }
      }
      &.hide {
        display: none !important;
      }
    }
    .navigation__separator {
      padding: 0.8rem !important;
      &.hide {
        display: none !important;
      }
    }
  }
}