@import './overrides/_index.scss';
@import './animations.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Global css setting */

html {
  font-family: map-get($font, main-family);
  font-size: map-get($font, min-size) !important;

  @media screen and (min-width: map-get($breakpoints, min)) {
    font-size: map-get($font, base-size) !important;
  }
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 2.1rem;

  @media screen and (min-width: map-get($breakpoints, min)) {
    font-size: 2.6rem;
  }
}

h2 {
  font-size: 1.6rem;
}

div,
span,
p,
label,
td {
  font-size: 1.2rem !important;
  color: map-get($colors, black);
}