@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  font-family: map-get($font, main-family);
  font-size: map-get($font, base-size) !important;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.6rem;
}

div,
span,
p,
label,
td {
  font-size: 1.2rem !important;
  color: map-get($colors, black);
}

/*
  Overrides
*/

.v-data-table {
  border-radius: unset;
  box-shadow: map-get($properties, table-shadow);

  * {
    border: unset !important;
  }

  td {
    border: 0.1rem solid #dadddd;
    border-right: unset;
    border-bottom: unset;
  }

  .v-data-footer {
    border: unset !important;
  }
}

.upload__input .v-input {
  .v-input__control {
    order: -1 !important;

    button[aria-label="clear icon"] {
      margin: unset !important;
    }
  }
}

.upload__area {
  position: relative;
  .v-input {
    position: absolute;
    padding: unset;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
  }

  .v-input__control {
    display: none;
  }

  .v-input__prepend-outer {
    margin: unset;
    margin-right: unset !important;
    width: 100%;
    height: 100%;
    .v-input__icon.v-input__icon--prepend {
      height: 100%;
      button {
        width: 100%;
        height: 100%;
      }
    }
  }
}