$colors: (
  white: #FFFFFF,
  black: #303435,
  blue: #397E92,
  grey: #F3F5F6,
  grey-2: #C4C4C4,
  grey-3: #DADDDD,
  grey-4: #737B7D,
  grey-5: #F6F7F7,
  grey-6: rgba(174, 188, 192, 0.3),
  grey-7: #3E5156,
  grey-8: #CAD1D3,
  grey-9: #A2A9AA,
  grey-10: #D2D7D7
);

$properties: (
  inset-shadow-right: inset -16px 0px 8px -8px rgba(173, 188, 192, 0.15),
  inset-shadow-left: inset 16px 0px 8px -8px rgba(173, 188, 192, 0.15),
  table-shadow: 0px 2px 8px -3px rgba(173, 188, 192, 0.6)
);

$font: (
  main-family: 'Roboto, sans-serif',
  min-size: 58%,
	base-size: 62.5%
);

$sizes: (
  sidebar-desktop-width: 19.5rem
);

$breakpoints: (
  min: 375px,
  med: 1024px,
  lg: 1280px,
  max: 1640px
);